/*-- scss:defaults --*/

// Colors
$light-sage-green: #D1D9CE;
$dark-sage-green: #98A08D;
$cream: #FDFBF7;
$purple: #800080;
$light-gray: #949799;
$baby-blue: #95B9C7;

// Base document colors
$navbar-bg: $cream; // navbar 
$navbar-fg: $dark-sage-green; // navbar foregound elements
$navbar-hl: $purple; // highlight color when hovering over navbar links
$body-bg: $light-sage-green; // page background 
$body-color: $purple; // page text
$footer-bg: $cream; // footer 
$link-color: $baby-blue; // hyperlinks

// Inline code
$code-bg: $cream; // inline code background color
$code-color: $purple; // inline code text color

// Code blocks
$code-block-bg: $cream; // code block background color
